body { 
    background-color: #d85184; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.migration-card { 
    max-width: 600px; 
    width: 90%; 
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.2); 
    background: white; 
    text-align: center; 
}

.logo-container img {
    /*height: calc(50vh - 2em); 
    width: auto;*/
    width: 250px;        /* Make this larger to fill the crop area */
    height: auto;
    object-fit: cover;   /* Tells the image to fill the space */
    /* If the whitespace is specifically at the bottom of the SVG: */
    margin-bottom: -50px; /* Pulls the bottom up to hide the empty space */
}

.new-brand-text { 
    color: #0d6efd; 
    font-weight: bold; 
}
