html,
body {
    background-color: #d85184; /*#ee87ae;*/
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Noto Sans JP', sans-serif; /*'Arial', 'Helvetica', 'Sans-Serif';*/
    font-size: 13px;
}

.message-card { 
    max-height: 90%;
    max-width: 640px; 
    width: 90%; 
    padding: 40px; 
    border-radius: 20px; 
    /*box-shadow: 0 10px 30px rgba(0,0,0,0.2); 
    background: white; */
    text-align: center; 
}

.message-card h1 {
    font-size: 4rem;
    font-weight: 900;
}

.message-card .lead {
    font-size: 2em;
}

.logo-container img {
    /*height: calc(50vh - 2em); */
    width: auto;
    object-fit: cover;
    margin-bottom: -6em;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.new-brand-text { 
    color: #0d6efd; 
    font-weight: bold; 
}

@media only screen and (max-width: 575.98px) {
    .message-card h1 {
        font-size: 3rem;
    }
    
    .message-card .lead {
        font-size: 1.5em;
    }

    .logo-container img {
        margin-bottom: -4em;
    }
}
