@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700;900&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/materialicons/v85/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

@keyframes spin {
  /*from { transform: rotate(0deg); }*/
  to { transform: rotate(360deg); }
}

@keyframes blink {
  to { opacity: 0; }
}

@keyframes blink-downward {
  /*from { transform : translateY(0) }*/
  to { transform : translateY(20px); opacity: 0; }
}

html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  font-family: 'Arial', 'Helvetica', 'Sans-Serif';
  font-size: 13px;
}

html:lang(ja),
html:lang(ja) > body {
  /*font-family: 'Noto Sans JP', sans-serif;*/
  font-size: 13.5px;
}

html.freeze-everything * {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important; /*bold !important;*/
}

textarea:focus,
select:focus,
input:focus,
button:focus,
a:focus {
  -webkit-box-shadow: none !important; /* Safari */
  -ms-box-shadow: none !important; /* IE 10 and IE 11 */
  box-shadow: none !important; /* Standard syntax */
  outline: none !important;
}

a {
  text-decoration: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

:-ms-clear { /* for IE & Edge */
  display: none;
}

.text-divider::before {
  font-family: 'Material Icons';
  /*font-weight: normal !important;*/
  content: 'more_vert';
  position: relative;
  top: .15em;
  opacity: .5;
}

[readonly]:-webkit-selection,
[readonly]:-ms-selection,
[readonly]:selection {
  background: transparent;
}

[symbol='star']::before {
  content: '✱';
}

[currency='none']::before {
  content: '\00a0';
}

[currency='JPY']::before {
  content: '¥';
}

[currency='HKD']::before {
  content: '$';
}

[currency='USD']::before {
  content: '$';
}

[currency='percent']::before {
  content: '%';
}

.material-icons[icon='checklist']::before {
  content: 'playlist_add_check';
  opacity: .75;
}

.material-icons[icon='boolean_true']::before {
  content: 'done';
  opacity: .75;
}

.material-icons[icon='boolean_false']::before {
  content: 'clear';
  opacity: .125;
}

.d-visible {
  display: inline-flex;
  width: auto;
  opacity: 1;
}

.d-invisible {
  display: inline-flex;
  width: 0;
  opacity: 0;
}

div.d-mobile,
tr.d-mobile,
th.d-mobile,
td.d-mobile {
  display: none;
}

div.d-desktop {
  display: inline-block;
}

tr.d-desktop {
  display: table-row;
}

th.d-desktop,
td.d-desktop {
  display: table-cell;
}

button.button-search,
button.button-info,
button.button-add,
button.button-remove,
button.switch-toggle,
button.arrow-toggle,
button.download-file,
button.download-xlsx {
  font-family: 'Material Icons';
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  line-height: 1;
}

button.button-search {
  font-size: 1.75em;
  margin: 0 .25em;
}

button.button-search:hover {
  color: #48f;
}

button.button-search::before {
  content: 'search';
}

button.button-info:hover,
button.button-add:hover,
button.button-remove:hover {
  color: #48f;
}

button.button-info::before,
button.button-add::before,
button.button-remove::before{
  font-size: 1.5em;
  position: relative;
  top: .125em;
  left: 0;
}

html:lang(en) button.button-info::before,
html:lang(en) button.button-add::before,
html:lang(en) button.button-remove::before{
  line-height: 1.25em;
}

button.button-info::before {
  content: 'info_outline';
  top: -.25em;
}

button.button-add::before {
  content: 'add_circle_outline';
}

button.button-remove::before {
  content: 'remove_circle_outline';
}

button.switch-toggle {
  font-size: 3em;
  opacity: .75;
}

button.switch-toggle:hover {
  opacity: 1;
}

button.switch-toggle.off::before {
  content: 'toggle_off';
  color: #6c757d;
}

button.switch-toggle.on::before {
  content: 'toggle_on';
  color: #f60;
}

button.arrow-toggle {
  font-size: 2em;
}

button.arrow-toggle:hover {
  color: #48f;
  /*cursor: pointer;*/
}

button.arrow-toggle::before {
  content: 'expand_more';
  float: right;
  transition: all 0.25s;
}

button.arrow-toggle.active::before {
  -webkit-transform: rotate(-180deg); /* Safari */
  -ms-transform: rotate(-180deg); /* IE 10 and IE 11 */
  transform: rotate(-180deg); /* Standard syntax */
}

button.download-file::before {
  content: 'file_download';
  color: green;
  font-size: 2em;
}

button.download-xlsx::before {
  content: 'description';
  color: green;
  font-size: 2em;
  position: relative;
  /*top: .125em;*/
  left: 0;
}

button.download-xlsx.big {
  /*display: inline-flex;*/
  font-size: 1.25em;
  margin-bottom: -1px;
}

@media only screen and (max-width: 575.98px) {
  html,
  body {
    font-size: 17px;
  }
  html:lang(ja),
  html:lang(ja) > body {
    font-size: 18px;
  }
  /*.media-type {
    opacity: 0;
  }*/
  .material-icons {
    font-size: 30px;
  }
  div.d-desktop,
  tr.d-desktop,
  th.d-desktop,
  td.d-desktop {
    display: none;
  }
  div.d-mobile {
    display: inline-block;
  }
  tr.d-mobile {
    display: table-row;
  }
  th.d-mobile,
  td.d-mobile {
    display: table-cell;
  }
  .display-1 { font-size: 4.5rem; }
  .display-2 { font-size: 4rem; }
  .display-3 { font-size: 3rem; }
  .display-4 { font-size: 2rem; }
}
